Repository micronaut-projects/micronaut-cache, pull requests merged in 2022-12, with the labels that each got.

#513 Update Cache integrations (apart from ehcache)
  cache-caffeine/src/main/java/io/micronaut/cache/caffeine/DefaultSyncCache.java
  cache-ehcache/build.gradle
  cache-hazelcast/src/main/java/io/micronaut/cache/hazelcast/condition/HazelcastConfigResourceCondition.java
  config/accepted-api-changes.json
  gradle/libs.versions.toml
Labels: status: next major version

#530 Use 6.1.1 setting plugin
  buildSrc/src/main/groovy/io.micronaut.build.internal.cache-base.gradle
  cache-caffeine/build.gradle
  cache-management/build.gradle
  cache-tck/build.gradle
  config/checkstyle/checkstyle.xml
  gradle.properties
  gradle/libs.versions.toml
  settings.gradle
Labels: relates-to: build

#516 Add Graal Feature for most common Caffeine usage
  .github/workflows/graalvm.yml
  buildSrc/build.gradle
  cache-caffeine/build.gradle
  cache-caffeine/src/main/java/io/micronaut/cache/caffeine/graal/CaffeineFeature.java
  cache-caffeine/src/main/resources/META-INF/native-image/io.micronaut.cache/micronaut-cache-caffeine/native-image.properties
  gradle/libs.versions.toml
  settings.gradle
  src/main/docs/guide/cache-abstraction.adoc
  test-suite-caffeine-native/build.gradle
  test-suite-caffeine-native/src/test/java/io/micronaut/cache/CounterService.java
  test-suite-caffeine-native/src/test/java/io/micronaut/cache/NativeCaffeineTest.java
  test-suite-caffeine-native/src/test/java/io/micronaut/cache/RemovalListenerImpl.java
  test-suite-caffeine-native/src/test/java/io/micronaut/cache/SimpleController.java
  test-suite-caffeine-native/src/test/resources/logback.xml
Labels: relates-to: graal

#536 [cache] Update common files for branch master
  .github/workflows/graalvm.yml
  .github/workflows/gradle.yml
  .github/workflows/release.yml
  config/checkstyle/checkstyle.xml
Labels: relates-to: build

#541 [cache] Update common files for branch master
  .github/workflows/graalvm.yml
Labels: relates-to: build

#542 [cache] Update common files for branch master
  .github/workflows/graalvm.yml
  .github/workflows/gradle.yml
Labels: relates-to: build
