Repository micronaut-projects/micronaut-cache, pull requests merged in 2023-08, with the labels that each got.

#643 Remove unnecessary version numbers from docs.
  src/main/docs/guide/ehcache.adoc
  src/main/docs/guide/hazelcast.adoc
  src/main/docs/guide/infinispan.adoc
  src/main/docs/guide/noop.adoc
Labels: type: docs

#559 Update hazelcast.adoc - Added client in the example configuration.
  src/main/docs/guide/hazelcast.adoc
Labels: type: docs

#645 [cache] Update common files for branch master
  .github/workflows/release.yml
Labels: relates-to: build

#647 Ability to view micronaut-cache value from key/parameter
  cache-management/src/main/java/io/micronaut/cache/management/CachesEndpoint.java
  cache-management/src/test/groovy/io/micronaut/cache/management/CachesEndpointSpec.groovy
  src/main/docs/guide/endpoint.adoc
Labels: type: enhancement
